/*.command-about {
    border-top: 1px solid #0cf;
    padding: 20px;
    margin: 20px 0;
    background: #eff;
}*/

.photo-small {
    display: block;
    height: 100px;
    width: 100px;
    float: left;
    border: 1px solid #05a;
    padding: 2px;
    background: white;
    margin: 10px;

}

.members {
    width: 972px;
    margin: 10px auto 0;
}

a.member-link {
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    width: 300px;
    text-align: center;
    text-decoration: none;
}

/*a.member-link:last-child {
    display: block;
    margin: 10px auto;
    width: 300px;
}

a.member-link:last-child:after {
    content: "";
    display: block;
    clear: both;
}*/

.name {
    display: block;
    background: #05a;
    color: white;
    padding: 5px;
    font-size: 20px
}

.info ul {
    border-top: 1px solid #0cf;
    padding: 20px 0 20px 40px;
    margin-bottom: 20px;
    background: #eff;
}

.command-project a {
    font-weight: bold;
    color: #036;
}